# Functions

#### Warm up

In [9]:
bands = ['  thE beATles   ', 'tHe RoLLing sTones    ..     ', '.,tHe eagles', 'the tEMptationS  ']

clean_bands = [band.strip(' .,').title() for band in bands]
print(clean_bands)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [ ]:
# Output: ['The Beatles', 'The Rolling Stones', etc]

In [7]:
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']
clean_bands2 = [band.strip(' .,').title() for band in bands2]
print(clean_bands2)

['The Who', 'The Doors', 'The Band', 'The Kinks']

## Functions

In [ ]:
# DRY principle
# Don't
# Repeat
# Yourself

##### User-Defined vs. Built-In Function

In [11]:
# Built-in functions
print(max)
help(max)

<built-in function max>
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [13]:
# User Defined Function
# Syntax: def function_name():
#             <CODE TO EXECUTE WHEN CALLED>

# Creating a function
def say_hello():
    print('Hello world!')
    
print(say_hello)
say_hello

<function say_hello at 0x0000020F6F1BCA60>

In [14]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [15]:
# Executing a function
# Syntax: function_name()

print('Before Execution')
say_hello() # Executing the function - don't forget the ()
print('After Execution')

Before Execution
Hello world!
After Execution

##### Accepting Parameters

In [18]:
# Syntax: def function_name(param1, param2):
#             <CODE TO EXECUTE with variable param1 and param2>
def say_hello_again(first, last): # <- first and last are parameters (aka placeholders)
    print(f"Hello {first} {last}")

    
# Execute
# Syntax: function_name(data1, data2)
say_hello_again("Brian", "Stanton") # <- 'Brian' and 'Stanton' are arguments (aka real data)

Hello Brian Stanton

In [19]:
say_hello_again('Keith', 'Williams')

Hello Keith Williams

In [21]:
say_hello_again("Stanton", 'Brian') # Position Matters!

Hello Stanton Brian

##### Passing in variables as arguments

In [24]:
city1 = 'Boston'
state1 = 'MA'
zip_code1 = '02215'

city2 = 'New York'
state2 = 'NY'
zip_code2 = '10234'

# Function to format our address -> City, State - Zip Code
def print_formatted_address(city, state, zip_code): 
    print(f"{city}, {state} - {zip_code}")
    
    
print_formatted_address("Chicago", "IL", "60606")
print_formatted_address(city1, state1, zip_code1)
print_formatted_address(city2, state2, zip_code2)

Chicago, IL - 60606
Boston, MA - 02215
New York, NY - 10234

In [34]:
my_string1 ="""
Hello this is a 
multiline string
that does not require
any special characters
for the multilines
"""

print(my_string1)

Hello this is a
multiline string
that does not require
any special characters
for the multilines

In [29]:
my_string2 = "Hello this is a\nmultiline string\nthat does require\nspecial characters\nfor the multiline"
print(my_string2)

Hello this is a
multiline string
that does require
special characters
for the multiline

In [43]:
def create_mailing_address(first_name, last_name, address, city, state, zip_code):
    print(f"""
{first_name.title()} {last_name.title()}
{address.title()}
{city.title()}, {state.upper()} {zip_code}
    """)

In [44]:
first = input('What is the first name? ')
last = input('What is the last name? ')
address = input(f"What is {first.title()}'s address? ")
city = input('In which city? ')
state = input('What is the state postal code? ')
zip_code = input('What is the zip code? ')

create_mailing_address(first, last, address, city, state, zip_code)

What is the first name? brian
What is the last name? stanton
What is Brian's address? 123 real street
In which city? chicago
What is the state postal code? il
What is the zip code? 60606

Brian Stanton
123 Real Street
Chicago, IL 60606

##### Keyword Arguments

In [46]:
def make_a_payment(total_amount_due, amount_paid, account_number):
    new_total = total_amount_due - amount_paid
    print(f"You have a made a payment of ${amount_paid} to Account #{account_number}")
    print(f"Your new balance due is ${new_total}")
    print("Thank you for your payment.")

In [47]:
make_a_payment(1000, 100, '32085643')

You have a made a payment of $100 to Account #32085643
Your new balance due is $900
Thank you for your payment.

In [50]:
# function_name(arg_name=arg_value, etc.)

make_a_payment(account_number='34347893', amount_paid=213, total_amount_due=500)

You have a made a payment of $213 to Account #34347893
Your new balance due is $287
Thank you for your payment.

In [51]:
make_a_payment(5000, account_number='987329904', amount_paid=1000)

You have a made a payment of $1000 to Account #987329904
Your new balance due is $4000
Thank you for your payment.

In [53]:
# positional arguments MUST COME BEFORE any keyword arguments

# make_a_payment(account_number='987329904', amount_paid=1000, 5000) # Syntax Error!

##### Default Parameters

In [81]:
# default parameters need to be AFTER non-default at all times

def make_a_burger(customer_name, cheese=True, lettuce=True, tomato=True, onions='', bacon=None):
    total_price = 4.50
    receipt = f"Thank you {customer_name}. Here is your receipt:\n"
    receipt += "1 Hamburger\n"
    if cheese:
        receipt += "\twith cheese\n"
    if lettuce:
        receipt += "\twith lettuce\n"
    if tomato:
        receipt += "\twith tomato\n"
    if onions:
        receipt += f"\twith {onions} onions\n"
        total_price += .50
    if bacon:
        receipt += f"\twith {bacon} pieces of bacon\n"
        total_price += .75*bacon
    receipt += f"Total: ${total_price:.2f}"
    print(receipt)

In [82]:
make_a_burger('Brian')

Thank you Brian. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
Total: $4.50

In [83]:
make_a_burger('Jamie', False)

Thank you Jamie. Here is your receipt:
1 Hamburger
	with lettuce
	with tomato
Total: $4.50

In [84]:
make_a_burger('Frank', True, True, True, 'grilled')

Thank you Frank. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with grilled onions
Total: $5.00

In [85]:
make_a_burger('Frank', onions='grilled', tomato=False)

Thank you Frank. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with grilled onions
Total: $5.00

In [88]:
make_a_burger('Sally', onions='raw', bacon=2)

Thank you Sally. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with raw onions
	with 2 pieces of bacon
Total: $6.50

##### \*args and **kwargs

In [89]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [94]:
max(20, 43, 24, 55, 435, 34, 256, 2134, 34, 234, 34)

2134

In [117]:
def my_function(arg1, *args, arg2=10):
    print('Arg1:', arg1)
    print(arg2)
    print('Args:', args)
    print(type(args))
    

my_function('a', 'b', 'c', 'd', 'e', 'f', arg2=10000)

Arg1: a
10000
Args: ('b', 'c', 'd', 'e', 'f')
<class 'tuple'>

In [127]:
def my_max(arg1, arg2, *args):
    current_max = arg1 if arg1 > arg2 else arg2
    if args:
        for num in args:
            if num > current_max:
                current_max = num
    return current_max
    
my_max(55, 14, 89, 54, 547)

(89, 54, 547)

547

In [128]:
def just_optional(*args):
    print(args)
    
def pass_a_tuple(tup):
    print(tup)
    
    
just_optional(3, 4, 5, 6, 2, 6, 3, 5, 7)
pass_a_tuple((3, 4, 5, 6, 2, 6, 3, 5, 7))

(3, 4, 5, 6, 2, 6, 3, 5, 7)
(3, 4, 5, 6, 2, 6, 3, 5, 7)

In [135]:
def my_function(arg1, *args, **kwargs):
    print('Arg1:', arg1)
    print('Args:', args)
    print(type(args))
    
    print('KWargs:', kwargs)
    print(type(kwargs))
    

my_function('a', 'b', 'c', 'd', 'e', 'f', key='value', num=10)

Arg1: a
Args: ('b', 'c', 'd', 'e', 'f')
<class 'tuple'>
KWargs: {'key': 'value', 'num': 10}
<class 'dict'>

#### In Class Exercise 1

Create a function that takes in a color, make, and model and formats it into a string.<br>
Then loop over the cars list and apply the function to each element.<br>
Expected Output:<br>
<code>Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150</code>

In [165]:
cars = [
    ('blue', 'toyota', 'tundra'), 
    ('green', 'chevy', 'silverado'), 
    ('pink', 'ford', 'f-150'), 
    ('red', 'ford', 'mustang'),
    ('yellow', 'toyota', 'prius')
]

for car in cars:
    print(car)

('blue', 'toyota', 'tundra')
('green', 'chevy', 'silverado')
('pink', 'ford', 'f-150')
('red', 'ford', 'mustang')
('yellow', 'toyota', 'prius')

In [166]:
def format_car(color, make, model):
    print(f"{color.title()} {make.title()} {model.title()}")
    
format_car('green', 'toyota', 'rav-4')

Green Toyota Rav-4

In [167]:
for car in cars[:3]:
    format_car(car[0], car[1], car[2])

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150

In [171]:
for col, mak, mod in cars:
    format_car(col, mak, mod)

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang
Yellow Toyota Prius

In [172]:
for car in cars:
    format_car(*car)

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang
Yellow Toyota Prius

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [174]:
print(city2)

New York

In [186]:
student = "Little Jimmy" # global
teacher = "Ms. Buttercup" # global


def assign_student(student_name): # student_name is a local variable scoped to the function
    student = 'Jimmy Smith' # local variable scoped to function
    print('Student:', student) # Will first check to see if there is a student in the local scope, if not check global
    new_variable = 'Hello' # local variable scoped to the function
    print(f"{student_name} has been assigned to {teacher}'s class")
    
    
assign_student(student)
# print(student_name)
# print(new_variable)

Student: Little Jimmy
Little Jimmy has been assigned to Ms. Buttercup's class

In [189]:
my_list = [2, 4, 6, 8, 10]
print(my_list.append)
print(list.append)

<built-in method append of list object at 0x0000020F7125DDC0>
<method 'append' of 'list' objects>

In [190]:
my_string = "hello"
my_string.append('!')

AttributeError: 'str' object has no attribute 'append'

In [195]:
def even_or_odd(nums):
    results = []
    for num in nums:
        if num % 2 == 0:
            results.append('even')
        else:
            results.append('odd')
    print(results)

In [196]:
even_or_odd([1,2,3,4,5])

['odd', 'even', 'odd', 'even', 'odd']

In [197]:
even_or_odd([10, 15, 20, 25, 30])

['even', 'odd', 'even', 'odd', 'even']

##### Returning Values

In [201]:
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)

def f(x):
    return 2*x

y = f(5)
print(y)

10

In [203]:
z = f(10)
print(z, z**2)

20 400

In [208]:
# Return will also immediately terminate the function
def early_return(n):
    for i in range(n):
        return i
        
        
x = early_return(10)
print(x)

0

In [209]:
def early_return_again(n):
    for i in range(n):
        return i
    print('Still in the function')
    
x = early_return_again(10000000000)
print(x)

0

In [215]:
names = ['Brian', 'Dave', 'Mike', 'Meridith', 'Maggie', 'Daniel', 'Daniella']

def get_a_person(person_name):
    for name in names:
        if name == person_name:
            return name
    return 'Not A Person'

brian = get_a_person('Brsdgsdfian')

print(brian)

Not A Person

#### Multiple returns in a function

In [217]:
def can_vote(birth_year):
    if 2023 - birth_year >= 18:
        return True
    else:
        return False
    
print(can_vote(2000))
print(can_vote(2006))

True
False

In [218]:
def can_vote(birth_year):
    if 2023 - birth_year >= 18:
        return True
    return False
    
print(can_vote(2000))
print(can_vote(2006))

True
False

In [221]:
def can_vote(birth_year):
    if 2023 - birth_year >= 18:
        return True
    return False
    
print(can_vote(2000))
print(can_vote(2006))

True
False

In [222]:
def can_vote(birth_year):
    return 2023 - birth_year >= 18
    
print(can_vote(2000))
print(can_vote(2006))

True
False

In [228]:
def linear_search(list_to_search, target):
    for i in range(len(list_to_search)):
        if list_to_search[i] == target:
            return f"{target} is at index {i}"
    return -1

linear_search([2, 4, 6, 7, 9, 13, 15, 23, 28, 45],13)

'13 is at index 5'

In [229]:
def linear_search(list_to_search, target):
    for index, value in enumerate(list_to_search):
        if value == target:
            return f"{target} is at index {index}"
    return -1

linear_search([2, 4, 6, 7, 9, 13, 15, 23, 28, 45],13)

'13 is at index 5'

##### Difference between `return` and `print`

In [230]:
def create_headline_print(message):
    print(message.strip().title() + '!')
    
def create_headline_return(message):
    return message.strip().title() + '!'

In [234]:
create_headline_print('       suPEr boWL sUnDay     ')

Super Bowl Sunday!

In [236]:
def publish_article(headline, author, body):
    clean_headline = create_headline_return(headline)
    print(f"""
    {clean_headline} by {author}
    {body}
    """)
    
publish_article('       supER bOWl suNDaY    ', 'Brian Stanton', 'Super Bowl Sunday was a great time.')

    Super Bowl Sunday! by Brian Stanton
    Super Bowl Sunday was a great time.

#### Functions with Lists

In [237]:
bands = ['  thE beATles   ', 'tHe RoLLing sTones    ..     ', '.,tHe eagles', 'the tEMptationS  ']
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

In [238]:
def clean_band_names(messy_bands):
    clean_bands = [band.strip(' .,').title() for band in messy_bands]
    return clean_bands

In [239]:
cleaned_bands1 = clean_band_names(bands)
print(cleaned_bands1)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [240]:
cleaned_bands2 = clean_band_names(bands2)
print(cleaned_bands2)

['The Who', 'The Doors', 'The Band', 'The Kinks']

In [242]:
def even_odd(a_list):
    output = []
    for num in a_list:
        if num % 2 == 0:
            output.append('even')
        else:
            output.append('odd')
    return output


result = even_odd([2, 6, 3, 2, 5, 7, 3, 7, 8, 9, 7, 4, 2, 2, 3, 5, 6, 7, 4, 5])
print(result)

['even', 'even', 'odd', 'even', 'odd', 'odd', 'odd', 'odd', 'even', 'odd', 'odd', 'even', 'even', 'even', 'odd', 'odd', 'even', 'odd', 'even', 'odd']

In [244]:
new_result = even_odd([1,2,3,4,5])
print(new_result)

['odd', 'even', 'odd', 'even', 'odd']

#### In-Class Exercise 2

Create a function that takes in the list of tuples ('city', 'country') and a country name and returns a list of the cities in that country

In [274]:
random = [
    ('a', 'b', 'c', 'd'),
    ('A', 'B', 'C', 'D'),
    ('aa', 'nb', 'cv', 'dv')
]

for ind1, ind2, ind3, ind4 in random:
    print(ind1)

a
A
aa

In [261]:
cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]


def cities_in_country(list_of_tuples, country_name):
    # Start with an empty list for the cities in the country we are searching
    cities = []
    # Loop through all of the city,country tuples
    for city, country in list_of_tuples:
        # if the country_name (argument) is equal to the country in the tuple
        if country_name == country:
            # Add the city to the list of cities that we will eventually output
            cities.append(city)
    # output the list of cities once we have looped through all of them
    return cities




print(cities_in_country(cities, 'Italy')) # ['Rome', 'Florence']
print('='*25)
print(cities_in_country(cities, 'England')) # ['London', 'Manchester']

['Rome', 'Florence']
=========================
['London', 'Manchester']

In [260]:
more_cities = [
    ("Paris", "France"),
    ("Berlin", "Germany"),
    ("Sydney", "Australia")
]

cities_in_country(more_cities, 'Germany') # ['Berlin']

['Berlin']

In [275]:
def cities_in_country_comp(list_of_tuples, country_name):
    return [city for city, country in list_of_tuples if country == country_name]

print(cities_in_country_comp(cities, 'Italy')) # ['Rome', 'Florence']
print('='*25)
print(cities_in_country_comp(cities, 'England')) # ['London', 'Manchester']

['Rome', 'Florence']
=========================
['London', 'Manchester']

#### Docstrings

In [276]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [278]:
def add_nums(num1, num2):
    """
    add_nums takes in two number type (int or float) and will return the two added together
    num1 -> int or float
    num2 -> int or float
    returns int or float
    """
    return num1 + num2

help(add_nums)

Help on function add_nums in module __main__:

add_nums(num1, num2)
    add_nums takes in two number type (int or float) and will return the two added together
    num1 -> int or float
    num2 -> int or float
    returns int or float

In [279]:
add_nums(10, 20)

30

In [280]:
add_nums(14.5, 23.7)

38.2

#### Whiteboard Approach

1. What are the input(s)?
2. What are the output(s)?
3. Consider constraints and edge cases
4. Write out steps logically (No python)
5. Pseudocode
6. Code

#### Whiteboard Example

Find Even numbers<br>
Create a function that, given a list as a parameter, finds the even numbers <br>
inside the list. The function should then return a list.<br>
Bonus: Use a list comprehension to find your solution<br>
Example:<br>
Input: [2, 7, 10, 11, 12]<br>
Output: [2, 10, 12]<br>

In [291]:
# 1. Input(s): List[int]
# 2. Output: List[int] -> all int should be even
# 3. If input list is empty or has no evens, return an empty list. Can assume all ints in input list are between 0 and 100

# 4. Go through the list, check each item and see if it is even,
# if so, add that item to the list of even numbers, if not, move on to next number
# once finished going through all numbers in list, return the list of even numbers

# 5. 
# define a function that accepts a parameter
def get_evens(list_of_nums):
    # define an empty list to keep track of our even numbers
    even_nums = []
    # Loop through the list we were given
    for num in list_of_nums:
        # if the element is even aka has a remainder of 0 when divided by 2
        if num % 2 == 0:
            # append num to the even numbers list
            even_nums.append(num)
        # if the element is not even, do nothing
        
    # once finished looping, return the even nums list
    return even_nums

In [290]:
from random import randint

random_list = [randint(1,20) for _ in range(20)]
print(random_list)

[15, 1, 15, 11, 8, 10, 5, 18, 8, 5, 17, 17, 4, 20, 1, 4, 4, 8, 5, 5]

In [292]:
# [8, 10, 18, 8, 4, 20, 4, 4, 8]

get_evens(random_list)

[8, 10, 18, 8, 4, 20, 4, 4, 8]

In [300]:
def get_evens(list_of_nums):
    evens = []
    for num in list_of_nums:
        if num % 2 == 0:
            evens.append(num)
    return evens
    
    
get_evens([3, 4, 6, 8, 3, 3, 6, 7, 8, 4 , 23, 5])

[4, 6, 8, 6, 8, 4]